<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    {% if model == 'join' %}
    <title>查询社团报名情况</title>
    {% elif model == 'activity' %}
    <title>查询社团活动情况</title>
    {% endif %}
</head>
<body>
    {% if model == 'join' %}
    <div>
        {% for join in joinList %}
        <form>
            <label>名字</label><input type="text" id="memberName{{forloop.counter}}" disabled="true" value="{{join.member.name}}" />
            <label>社团</label><input type="text" id="clubName{{forloop.counter}}" disabled="true" value="{{join.club.name}}" />
            <label>加入时间</label><input type="text" id="joinDate{{forloop.counter}}" disabled="true" value="{{join.attendDate}}" />
            <label>确认</label><input type="text" id="confirm{{forloop.counter}}" disabled="true" value="{{join.confirm}}" />
        </form>
        {% endfor %}
    </div>
    {% elif model == 'activity' %}
    <div>
        {% for activity in activityList %}
        <form>
            <label>名字</label><input type="text" id="activityName{{forloop.counter}}" disabled="true" value="{{activity.name}}" />
            <label>社团</label><input type="text" id="clubName{{forloop.counter}}" disabled="true" value="{{activity.club.name}}" />
            <label>负责人</label><input type="text" id="principalName{{forloop.counter}}" disabled="true" value="{{activity.principal.name}}" />
            <label>地点</label><input type="text" id="location{{forloop.counter}}" disabled="true" value="{{activity.location}}" />
            <label>时间</label><input type="text" id="dateTime{{forloop.counter}}" disabled="true" value="{{activity.dateTime}}" />
            <label>参与人数</label><input type="text" id="memberNumber{{forloop.counter}}" disabled="true" value="{{activity.memberNumber}}" />
            <label>最大人数</label><input type="text" id="maxNumber{{forloop.counter}}" disabled="true" value="{{activity.maxNumber}}" />
        </form>
        {% endfor %}
    </div>
    {% endif %}
</body>
</html>