<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>插入{{model}}</title>
    <script type="text/javascript">
        window.onload = function(){
            var session = sessionStorage.getItem("session");
            console.log(session)
            a = document.getElementsByTagName('a')
            console.log(a)
            for(i=0; i < a.length; ++i)
            {
                url = a[i].href;
                a[i].href = url + session;
            }
        }
    </script>
</head>
<body>
    <div>
        <ul style="margin: 0;padding: 0;list-style-type: none;text-align: center;">
            <li style="width: 100px;left: 50px;display: inline;padding: 8px 16px;">
                <a href="/management/insert/member/">录入职工</a>
            </li>
            <li style="width: 100px;left: 50px;display: inline;padding: 8px 16px;">
                <a href="/management/insert/club/">录入社团</a>
            </li>
            <li style="width: 100px;left: 50px;display: inline;padding: 8px 16px;">
                <a href="/management/alter/member/">修改职工</a>
            </li>
            <li style="width: 100px;left: 50px;display: inline;padding: 8px 16px;">
                <a href="/management/alter/club/">修改社团</a>
            </li>
            <li style="width: 100px;left: 50px;display: inline;padding: 8px 16px;">
                <a href="/management/delete/member/">删除职工</a>
            </li>
            <li style="width: 100px;left: 50px;display: inline;padding: 8px 16px;">
                <a href="/management/delete/club/">删除社团</a>
            </li>
        </ul>
    </div>
    <div>
    {% if model == 'member' %}
        <form name="form" style="text-align: center;">
            <label>职工号</label><input type="text" name="memberNumber">
            <br>
            <label>名字</label><input type="text" name="name">
            <br>
            <label>年龄</label><input type="text" name="age">
            <br>
            <label>性别</label>
            <select name="sex">
                <option value="boy">男</option>
                <option value="girl">女</option>
            </select>
            <br>
            <label>密码</label><input type="password" name="passwd">
            <br>
            <input type="button" value="提交" onclick="myFunction('insertMember',{
                'memberNumber': document.form.memberNumber.value,
                'name': document.form.name.value,
                'age': document.form.age.value,
                'sex': document.form.sex.value,
                'passwd': document.form.passwd.value
            })">
        </form>
    {% elif model == 'club' %}
        <form name="form" style="text-align: center;">
            <label>社团号</label><input type="text" name="clubNumber">
            <br>
            <label>名字</label><input type="text" name="name">
            <br>
            <label>负责人</label><input type="text" name="principalNumber">
            <br>
            <input type="button" value="提交" onclick="myFunction('insertClub/',{
                'clubNumber': document.form.clubNumber.value,
                'name': document.form.name.value,
                'principalNumber': document.form.principalNumber.value
            })">
        </form>
    </div>
    {% endif %}
    <!-- {% csrf_token %} -->
    <script>
        // var xmlhttp;
        function myFunction(model, data) {
            // window.alert("提交");
            url = "http://127.0.0.1:8000/management/"+model;
            console.log(data);
            data.session = sessionStorage.getItem("session");
            // try{
            //     xmlhttp = new XMLHttpRequest();
            //     xmlhttp.open("POST", url, true);
            //     xmlhttp.onreadystatechange = response;
            //     xmlhttp.setRequestHeader('Content-type', 'application/json')
            //     xmlhttp.send(JSON.stringify(data))
            // } catch(e){
            //     window.alert(e)
            // }
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(function(response){
                return response.json();
            })
            .then(function(myJson){
                console.log(myJson);
                if(myJson.code == 200)
                {
                    alert("Success");
                    location.reload();
                }
                else if(myJson.code == 401)
                {
                    alert("请先登录");
                    location = "http://127.0.0.1:8000/management/login/"
                }
                else
                    alert("Error");
            });

        }
        // function response(){
        //     if(xmlhttp.status == 200)
        //         window.alert("success");
        //     else
        //         window.alert("fail");
        // }
    </script>
</body>
</html>