<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script type="text/javascript">
        window.onload = function(){
            var session = sessionStorage.getItem("session");
            console.log(session)
            a = document.getElementsByTagName('a')
            console.log(a)
            for(i=0; i < a.length; ++i)
            {
                url = a[i].href;
                a[i].href = url + session;
            }
        }
    </script>
</head>
<body>
    <div>
        <form style="text-align: center;">
            <label for="memberNumber">职工号</label><input id="memberNumber" type="text" name="memberNumber"/><br/>
            <label for="passwd">密码</label><input id="passwd" type="password" name="passwd"/><br/>
            <input type="button" value="登录" onclick="myFunction()"/>
        </form>
    </div>
</body>
<script>
    function myFunction(){
        memberNumber = document.getElementById("memberNumber").value;
        passwd = document.getElementById("passwd").value;
        data = {
            'memberNumber': memberNumber,
            'passwd': passwd
        }
        if(memberNumber == null || passwd == null)
        {
            alert("密码和账号不能为空");
            return;
        }
        url = "/management/signin/";
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(function(response){
            return response.json();
        })
        .then(function(myJson){
            console.log(myJson);
            alert(myJson.message);
            if(myJson.code == 200)
            {
                sessionStorage.setItem("session", myJson.session);
                window.location = "http://127.0.0.1:8000/management/index/"+sessionStorage.getItem("session")+"/";
            }
        })
    }
</script>
</html>