<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>报名社团</title>
</head>
<body>
    <div>
        {% for club in clubList %}
        <form style="text-align: center;">
            <label>社团号</label><input id="clubNumber{{forloop.counter}}" type="text" name="clubNumber" disabled="true" value="{{club.clubNumber}}"/>
            <label>社团名</label><input id="name{{forloop.counter}}" type="text" name="name" disabled="true" value="{{club.name}}"/>
            <label>负责人</label><input id="principal{{forloop.counter}}" type="text" name="principal" disabled="true" value="{{club.principal.name}}"/>
            <input type="button" value="报名" onclick="myFunction({
                'clubNumber': document.getElementById('clubNumber{{forloop.counter}}').value
            })"/>
        </form>
        {% empty %}
        <p>没有可以加入的社团</p>
        {% endfor %}
    </div>
    <script>
        function myFunction(data) {
            url = "http://127.0.0.1:8000/management/signupClub/";
            data.session = sessionStorage.getItem('session');
            console.log(data)
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(function(response){
                return response.json();
            })
            .then(function(myJson){
                alert(myJson.message);
                if(myJson.code == 200)
                    location.reload();
            })
        }
    </script>
</body>
</html>